.games-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}
.main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 1200px) {
  .games-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
